<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

    {% block content %}
        <div class="notaccountblock">
            <a href="/" class="button">на главную</a>
        </div>

        <div class="text1">

            {% for j in posts %}
            <div class="joke">
                <p>Автор: <a href="/our_dear_users/{{j.user_id}}">{{j.user_name}}</a></p>
                {%if j.music %}
                    <p>Музыка</p>
                    <p>{{j.name}}</p>
                    <figure>
                        <audio
                            controls
                            src="/play_music/{{j.id}}">
                        </audio>
                    </figure>
                    <a href="/play_music/{{j.id}}">
                        Download audio
                    </a>
                    {%if current_user.admin == 1%}
                    <a href="/music/delete/{{j.id}}"><p>Удалить запись (ты админ)</p></a>
                    {%endif%}
                
                {%elif j.ip %}
                    <p>Сервер</p>
                    <p>{{j.game}}</p>
                    <p>{{j.title}}</p>
                    <p>{{j.protocol}}</p>
                    <p>{{j.ip}}</p>
                    {%if current_user.admin == 1%}
                    <a href="/servers/delete/{{j.id}}"><p>Удалить запись (ты админ)</p></a>
                    {%endif%}
                {%else%}
                    <p>Шутка</p>
                    <p>{{j.about}}</p>
                    <p>{{j.text}}</p>
                    {%if    j.image != None %}
                    <img src="/show_image/jokes/{{j.id}}">
                    {%endif%}
                    {%if current_user.admin == 1%}
                    <a href="/jokes/delete/{{j.id}}"><p>Удалить запись (ты админ)</p></a>
                    {%endif%}
                {%endif%}

            </div>
            {% endfor %}
        </div>



    {% endblock %}
</body>
</html>