<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=cs) }}">
    {% for j in jokes %}
    <meta property="og:title" content="{{j.text}}"/>
    <meta property="og:description" content="{{j.user_name}} {{j.about}}"/>

    {%if j.image != None %}
    <meta property="og:image:url" content="/show_image/jokes/{{j.id}}"/>
    <meta property="og:image" content="/show_image/jokes/{{j.id}}"/>
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:secure_url" content="/show_image/jokes/{{j.id}}"/>
    {%endif%}
    <meta property="og:url" content="http://boyaroslav.pythonanywhere.com/jokes/{{j.id}}"/>
    {%endfor%}
</head>
<body>
    <h1>Page of one joke...</h1>
    <h1>Театр одного актёра</h1>

    {% block content %}
    <div class="notaccountblock">
        <a href="/" class="button">{{translations['на главную'][lang]}}</a>
        <a href="/jokes">{{translations['назад'][lang]}}</a>
    </div>
    {% if current_user.is_authenticated %}
        {%if current_user.can_joke == 1%}
        <div class="accountblock">
            <a href="/jokes/add_joke" class="button">{{translations['добавитьшуточку'][lang]}}</a>
        </div>
        {%endif%}
    {%endif%}
    <div class="text1">
        <h1>{{translations['внимание'][lang]}} {{translations['шуточки'][lang]}}</h1>
    </div>
    {% for j in jokes %}
        <div class="joke">
            <p>Автор: <a href="/our_dear_users/{{j.user_id}}">{{j.user_name}}</a></p>
            <p>{{j.about}}</p>
            <p style="text-align: left; margin-left: 10%; width: 70%">{{j.text}}</p>
            {%if    j.image != None %}
            <img width="100%" style="padding 0" src="/show_image/jokes/{{j.id}}">
            {%endif%}
            {%if current_user.admin == 1%}
            <a href="/jokes/delete/{{j.id}}"><p>Удалить запись (ты админ)</p></a>
            {%endif%}
        </div>
    {% endfor %}

    {%if page > 0 %}
    <p><a href="/jokes{{by_id}}?page={{page - 1}}" class="button">{{translations['назад'][lang]}}</a></p>
    {%endif%}
    {%if page < page_count - 1 %}

    <p><a href="/jokes{{by_id}}?page={{page + 1}}" class="button">{{translations['вперед'][lang]}}</a></p>
    {%endif%}


    {% endblock %}
</body>
</html>