<!DOCTYPE html>

<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

    {% block content %}

        
        <div class="accountblock">
            {% if current_user.is_authenticated %}
            <a href="/our_dear_users/{{current_user.id}}" class="button">{{current_user.name}}</a> <br>
            <a href="/logout" class="button">Выйти</a>
            {%else%}
            <a href="/register" class="button">Регистрация</a> <br>
            <a href="/login" class="button">Логин</a>
            {% endif %}
        </div>
        <div class="notaccountblock">
            <a href="/jokes" class="button">юморюськи</a> <br>
            <a href="/music" class="button">музыка</a> <br>
            <a href="/servers" class="button">сервера</a> <br>
            <a href="/goyda_lent" class="button">Гойда!</a>
        </div>
        <div class="text1">
        {% if current_user.is_authenticated %}
        <h1>Привет, {{current_user.name}}</h1>
        {%else%}
         <h1>Штирлиц знал наверняка. Наверняк не знал Штирлица. </h1>
        {% endif %}
        </div>
        {% if current_user.is_authenticated %}
        <div class="joke">
            <p>Здесь админы публикуют новости для работяг</p>
            <img src="static/img/main_rule.jpg">
        </div>
        <div class="joke">
            <p>Если и вы хотите вознестись до админа, то напишите одному из них в социальной сети</p>
            <p><a href="/our_dear_users/our_dear_admins">Наша гордость - наши админы</a></p>
        </div>

        <div class="joke">
            <p><a href="https://boosty.to/boyaroslav">Новые фичи</a></p>
        </div>
        {%else%}
        <div class="joke">
            <p><a href="/docs/why_registration">Зачем нужна регистрация?</a></p>
        </div>
        {%endif%}
          
          
    {% endblock %}

</body>
</html>