<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=cs) }}">
    {% for j in music %}
    <meta property="og:title" content="{{j.name}}"/>
    <meta property="og:description" content="{{j.author}}"/>
    <meta property="og:url" content="http://boyaroslav.pythonanywhere.com/music/{{j.id}}"/>
    {%endfor%}
</head>
<body>

    {% block content %}
    <div class="notaccountblock">
        <a href="/" class="button">{{translations['на главную'][lang]}}</a>
        <a href="/music">{{translations['назад'][lang]}}</a>
    </div>


    {% for j in music %}
        <div class="music">
            <p>{{translations['выложил'][lang]}} <a href="/our_dear_users/{{j.user_id}}">{{j.user_name}}</a>, {{translations['сочинил'][lang]}} {{j.author}}</p>
            <p>{{j.name}}</p>
            <figure>
                <audio
                    controls
                    src="/play_music/{{j.id}}">
                </audio>
            </figure>
            <a href="/play_music/{{j.id}}">
                Download audio
            </a>
            {% if current_user.is_authenticated %}
                {%if current_user.admin == 1 %}
                    <a href='/music/delete/{{j.id}}'><p>Удалить этот рьеп (Ты админ)</p></a>
                {%endif%}
            {%endif%}
        </div>
    {% endfor %}



    {% endblock %}
</body>
</html>