<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=cs) }}">
    <style>
      p{
        font-family: sans-serif;
        font-size: medium;
        text-align: left;
      }
    </style>

  </head>
<body>

    {% block content %}
        <div class="notaccountblock">
            <a href="/" class="button">на главную</a>
        </div>

        <div class="text1">

        {% for i in phy %}
            <div class="text1">

                <p>{{i}}</p>
            </div>
            <br>

        {%endfor%}




    {% endblock %}
</body>
</html>
